/************   INDHOLDSFORTEGNELSE  **************/
/************   1. GENERELT  **************/
/************   2. FORSIDE  **************/
/************   3. PRODUKTER **************/
/************   4. ENKELT SIDE **************/
/************   5. OM      **************/
/************   6. KONTAKT    **************/
/************   7. MEDIA  Q  **************/

/************   1. GENERELT  **************/

@font-face {
    font-family: 'helvetica';
    src: url('fonts/helveticaneue-roman.woff2') format('woff2'),
        url('fonts/helveticaneue-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #E8E6E2;
    font-family: 'helvetica';

}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'helvetica';
    color: #3B3B3B;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #3B3B3B;
    font-family: 'helvetica';
    font-size: 30px;

}

h3 {
    font-family: 'helvetica';
    color: #3B3B3B;
}

p {
    font-family: 'helvetica';
    margin: 20px;
    color: #3B3B3B;
    line-height: 21px;
}

/*.txt {
    margin-top: 50px;
    margin-bottom: 50px;
}*/

footer {
    background-color: #6A7550;
    margin-top: 20px;
    padding: 10px;
    font-family: 'helvetica';

}

footer p {
    color: white;
    margin: 20px 15px 20px 15px;
}

.enkelt_footer {
    margin: 0px;
}

img {
    width: 100%;
}



.min_kurv:hover {
    cursor: pointer;
    color: #3B3B3B;
}

/********MENU - desktop*********/



.header_logo {
    display: none;
}

a {
    text-decoration: none;
}

.burgermenu {
    color: #3B3B3B;
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 500;
}

.min_kurv {
    color: white;
    padding-left: 0px;
}

li a {
    color: white;
    line-height: 50px;
    padding-bottom: 20px;
    font-family: 'helvetica';
    text-align: left;
}

li:nth-child(5) {
    display: flex;
    flex-wrap: wrap;
}


li img {
    width: 40px;
    height: 40px;
    flex-basis: 10px;
    flex-grow: 1;
}

li div {
    padding: 13px 6px;
    flex-basis: 50px;
    flex-grow: 3;

}

.logo_burgermenu {
    margin: 100px 0 0 -55px;
    background-image: url(logo/planteguru_white_logo_transparent_tyk.png);
    background-size: cover;
    width: 80vw;
    height: 20vh;
    padding: 0;
}



/* Change the link color on hover */
li a:hover {
    color: #3b3b3b;
}

.active {
    color: #3b3b3b;
}

.valgt_menu {
    color: #3b3b3b;
}

/************   2. STARTSIDE  **************/



.vis_produkter {
    border: solid 2px white;
    padding: 20px 0px;
    text-align: center;
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: 'helvetica';
    font-size: 25px;
    color: white;
    z-index: 500;
    margin-top: 120px;
}

.vis_produkter a {
    color: white;
}

h1 {
    font-family: 'helvetica';
}


/*******SPLASH på forside - mobil********/

#splash {
    width: 100vw;
    height: 150vw;
    background-image: url(billeder/header_2.jpg);
    background-size: cover;
    background-position: 55%;
    margin-top: 0px;
    z-index: 80;
    margin-bottom: 50px;
}

.logo {
    width: 100vw;
    height: 40vw;
    padding-top: 150px;
}




/************   3. PRODUKTER **************/

.filterTekst {
    margin-top: 80px;
}


.filter_knapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    position: relative;
    font-family: 'helvetica';

}

button {
    background-color: transparent;
    border: 2px solid #3B3B3B;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #3B3B3B;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}


.valgt {
    background-color: #6A7550;
    border-color: white;
    color: white;
}

.data_container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 900px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.billed_ramme {
    overflow: hidden;
}

.billed_ramme img {
    transition: all .2s ease-in-out;
}

.billed_ramme img:hover {
    transform: scale(1.05);
}


article {
    padding: 10px;
}

article p,
article h2 {
    text-align: left;
    margin: 10px 0px;
}

.produkter_article {
    cursor: pointer;
}

/************ 4.  ENKELT SIDE  **************/


.enkelt_side {
    /*    width: 100vw;
    height: 100vh;
    margin-bottom: 80px;*/
}

button {
    padding: 5px;
}


.tilbage_ikon {
    position: absolute;
    top: 17.5px;
    left: 15px;
    width: 18px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.tilbage_ikon:hover {
    transform: scale(1.2);
}

header .logo {
    display: none;
}

.enkelt_side p,
.enkelt_side h2 {
    margin: 40px 100px 20px 100px;
}

.pris {
    text-align: right;
    margin-right: 10vw;
}

article.plante {
    margin: -10px -10px -12.7px -10px;
}

.forhold {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px 0px 30px;
}

.forhold img {
    width: 80px;
    margin: 5px;
}

.forhold p {
    font-size: 8px;
    text-align: center;
    margin: 0px;
}

.i_kurv {
    border: solid 2px #3b3b3b;
    width: 200px;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.i_kurv:hover {
    transform: scale(1.05);
}

/************   5.  OM      **************/



/************   6.  KONTAKT    **************/



#kontakt h1 {
    margin: 30px 0 40px 0;
}

.sm_ikoner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.sm_ikoner img {
    width: 60px;
    margin: 20px 60px 20px 2px;
    transition: all .2s ease-in-out;
}

.sm_ikoner img:hover {
    transform: scale(1.1);
}

/************   7. MEDIA  Q  **************/

@media only screen and (min-width: 640px) {

    .data_container {
        grid-template-columns: repeat(2, 1fr);

    }


    .filter_knapper {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    button {
        width: 200px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        padding-top: 20px;
        margin-bottom: -30px;
    }

}


@media only screen and (max-width: 700px) {

    .hidden {
        transform: translateY(-100%);
        /*        opacity: 0;*/
        display: none;
    }

    #menuknap {
        display: inline-block;
        top: 10px;
        right: 10px;
        position: absolute;
        z-index: 2;
        font-family: 'helvetica';
        font-size: 8vw;
        cursor: pointer;
    }

    #menu {
        list-style-type: none;
        transition: transform .3s;
        transform-origin: top left;
        background-image: url(billeder/burgermenu_baggrund.png);
        background-size: cover;
        z-index: 1;
        padding: 110px;
        margin-top: -10px;
        font-size: 20px;
        margin-bottom: -10px;
        height: 100vh;
        width: 100vw;
    }

    #menu li {
        width: 180px;
        margin-top: 10px;
    }

}

@media only screen and (min-width: 700px) {

    /*** media Q header og menu (min)700px ***/

    header {
        height: 100px;
        margin: -20px 0px 0px 0px;
        background-color: #6A7550;
    }

    li a {
        padding: 15px;
    }

    li {
        display: inline-block;
        font-size: 0.7rem;
    }

    li:nth-child(5) {
        padding: 7px;
        margin-right: 20px;

    }

    #menuknap {
        display: none;

    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        display: flex;
        margin: 30px 10px;
    }

    .header_logo {
        display: inherit;
        width: 250px;
        height: auto;
        right: 5px;
        z-index: 500;
        display: flex;
        margin-top: 20px;
    }

    .logo_burgermenu {
        display: none;
    }

    .vis_produkter {
        margin-top: 0px;
    }

    /*** media Q enkeltsiden (min)700px ***/


    .tilbage_ikon {
        top: 140px;
        left: 20px;
    }

    #om .txt,
    #kontakt .txt {
        margin: 50px;
    }

    .txt h1 {
        margin: 50px 0;
    }

}

@media only screen and (min-width: 800px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 1000px) {

    /*** media Q header og menu (min)1000px ***/

    li {
        font-size: 1rem;
    }

    li:nth-child(5) {
        padding: 3px;
    }

    /*** media Q forside (min)1000px ***/

    .logo {
        padding-top: 20px;
        margin-bottom: -80px;
    }

    .vis_produkter {
        font-size: 27px;
        padding: 20px 40px;
        transition: all .2s ease-in-out;
    }

    .vis_produkter:hover {
        transform: scale(1.05);
    }

    /*** media Q enkeltsiden (min)1000px ***/

    .enkelt_side {
        display: flex;
    }

    .enkelt_side .txt,
    .enkelt_side .plante {
        width: 50vw;
    }

    .enkelt_side p {
        font-size: 16px;
        /*        margin-top: 50px;*/
    }


    .forhold img {
        width: 50px;
    }

    .i_kurv {
        margin-right: 5vw;
    }

    .txt .pris {
        font-size: 25px;
        padding: 20px 8px 30px 0px;
    }

    .forhold {
        text-align: center;
        margin-right: 15vw;
        margin-left: 30px;
    }

    /*** Media Q produktsiden (min)1000px ***/

    .data_container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
    }



    .filter_knapper {
        max-width: 1100px;
        text-align: center;
    }

    button {
        text-align: center;
    }

    /*** Media Q kontakt og om (min)1000px ***/

    #kontakt,
    #om {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        margin-bottom: -20px;
        flex-direction: row;
    }

    #kontakt .txt,
    #om .txt {
        flex-basis: 400px;
        flex-grow: 1;
        padding: 0px 50px;
    }

    #kontakt h2,
    #om h2 {
        margin-bottom: 20px;
    }

    #kontakt .billede,
    #om .billede {
        flex-basis: 400px;
        flex-grow: 1;
    }

}

/*** Media Q Enkeltside og om (min)1400px ***/

@media only screen and (min-width: 1400px) {
    .enkelt_side .txt {
        margin: 60px;
    }

}

/********SPLASH - desktop*******/

@media (orientation: landscape) {
    #splash {
        width: 100vw;
        height: 56.25vw;
        background-position: 0% 0%;
        margin-top: 0vw;
    }
}
